//variables
@darkBlue: #0062B6;
@hoverBlue: #0578DA;
@black: #000000;
@white: #ffffff;

//mixins
.ie11(@content) {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content();
  }
}

.ie10(@content) {
  @media screen and (min-width:0\0) {
      @content();
  }
}

// Media breakpoint 450px
.xxs-block(@content) {
  @media screen and (max-width: 375px) {
    @content();
  }
}